# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  75   2  24  30
1  51  15  92  20
2  28  25  41  77
3  66  92  89  85
4  40  85  62  13
5  52  14  73   8
DataFrame with new index:
     B   C   D
A
75   2  24  30
51  15  92  20
28  25  41  77
66  92  89  85
40  85  62  13
52  14  73   8

In [3]:

print(df.reset_index(drop=True))

    B   C   D
0  80  17  13
1  30   8  51
2  71  78  59
3  36  77  83
4  33  94  89
5  51  84  46

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [9]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  61  71  92
Y  79  83  92
Z  69  96  22
Element at row 'Y' and column 'B': 83

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [10]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  42  55  84
1  27  36  18
2  17  21  95
3  80  24   5
4   2  20  57
DataFrame with new column:
    A   B   C     D
0  42  55  84  2310
1  27  36  18   972
2  17  21  95   357
3  80  24   5  1920
4   2  20  57    40

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [16]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
np.random.seed(0)
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  45  48  65
1  68  68  10
2  84  22  37
3  88  71  89
Row-wise sum:
0    158
1    146
2    143
3    248
dtype: int64
Column-wise sum:
A    285
B    209
C    201
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [22]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
np.random.seed(0)

df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)
# Fill the NaN values with the mean of the respective columns

df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  45  48  65
1  68  68  10
2  84  22  37
3  88  71  89
4  89  13  59
DataFrame with NaN values:
      A     B     C
0  45.0   NaN  65.0
1  68.0  68.0  10.0
2  84.0  22.0   NaN
3  88.0  71.0  89.0
4   NaN  13.0  59.0
DataFrame with NaN values filled:
       A     B      C
0  45.00  43.5  65.00
1  68.00  68.0  10.00
2  84.00  22.0  55.75
3  88.00  71.0  89.00
4  71.25  13.0  59.00

**Doing below to fill nan from mean of row**

In [47]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)
df_nan = df.copy(deep=True)
# Fill the NaN values with the mean of the respective columns
print("df.mean()\n", df.mean(axis=1), '\n')

df = df.apply(lambda row: row.fillna(row.mean()), axis=1)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0   7  17  18
1  89  51  56
2  60  53  48
3  77  49  19
4  18  54  65
DataFrame with NaN values:
      A     B     C
0   7.0   NaN  18.0
1  89.0  51.0  56.0
2  60.0  53.0   NaN
3  77.0  49.0  19.0
4   NaN  54.0  65.0
df.mean()
 0    12.500000
1    65.333333
2    56.500000
3    48.333333
4    59.500000
dtype: float64

DataFrame with NaN values filled:
      A     B     C
0   7.0  12.5  18.0
1  89.0  51.0  56.0
2  60.0  53.0  56.5
3  77.0  49.0  19.0
4  59.5  54.0  65.0

In [24]:
df_nan.sum(axis=1)

0     66.0
1    131.0
2     99.0
3    168.0
4    105.0
dtype: float64

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [4]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  32  48   2  26
1  54  85  93  71
2  94  63  90   8
3  85  47  20  77
4  22  94  90  34
5  78  64   2  33
DataFrame with NaN values:
      A     B     C   D
0  32.0  48.0   2.0  26
1  54.0  85.0   NaN  71
2  94.0  63.0  90.0   8
3   NaN  47.0  20.0  77
4  22.0  94.0  90.0  34
5  78.0   NaN   2.0  33
DataFrame with NaN values dropped:
      A     B     C   D
0  32.0  48.0   2.0  26
2  94.0  63.0  90.0   8
4  22.0  94.0  90.0  34

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [27]:
np.random.seed(0)
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({ 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df, print())

print('df.describe()\n', df.describe(), print())
print('df.mean()\n', df.mean(numeric_only=True), print())
print('df.sum()\n', df.sum(numeric_only=True), print())

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:

  Category  Value
0        A     13
1        B     59
2        A     66
3        B     40
4        B     88
5        C     47
6        A     89
7        C     82
8        A     38
9        A     26 None

df.describe()
            Value
count  10.000000
mean   54.800000
std    26.444071
min    13.000000
25%    38.500000
50%    53.000000
75%    78.000000
max    89.000000 None

df.mean()
 Value    54.8
dtype: float64 None

df.sum()
 Value    548
dtype: int64 None
Grouped DataFrame:
          sum       mean
Category
A         232  46.400000
B         187  62.333333
C         129  64.500000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [28]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        B     24
1   Prod1        B     36
2   Prod2        C     76
3   Prod1        A     56
4   Prod1        B     29
5   Prod2        B     35
6   Prod3        B      1
7   Prod1        A      1
8   Prod3        C     37
9   Prod1        A     54
Grouped DataFrame:
Category
A    111
B    125
C    113
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [29]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A       6
1   B      39
2   C      18
3   D      80
DataFrame 2:
  Key  Value2
0   A       5
1   B      43
2   C      59
3   E      32
Merged DataFrame:
  Key  Value1  Value2
0   A       6       5
1   B      39      43
2   C      18      59

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [34]:
np.random.seed(0)

# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows WITHOUT axis
concat_rows = pd.concat([df1, df2])
print("Default DataFrame WITHOUT axis:")
print(concat_rows)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  45  68
1  48  68
2  65  10
DataFrame 2:
    C   D
0  84  88
1  22  71
2  37  89
Default DataFrame WITHOUT axis:
      A     B     C     D
0  45.0  68.0   NaN   NaN
1  48.0  68.0   NaN   NaN
2  65.0  10.0   NaN   NaN
0   NaN   NaN  84.0  88.0
1   NaN   NaN  22.0  71.0
2   NaN   NaN  37.0  89.0
Concatenated DataFrame (rows):
      A     B     C     D
0  45.0  68.0   NaN   NaN
1  48.0  68.0   NaN   NaN
2  65.0  10.0   NaN   NaN
0   NaN   NaN  84.0  88.0
1   NaN   NaN  22.0  71.0
2   NaN   NaN  37.0  89.0
Concatenated DataFrame (columns):
    A   B   C   D
0  45  68  84  88
1  48  68  22  71
2  65  10  37  89

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [36]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    13
2022-01-02     5
2022-01-03     0
2022-01-04     8
2022-01-05    79
...          ...
2022-12-27     3
2022-12-28    48
2022-12-29    76
2022-12-30    37
2022-12-31    48

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  46.032258
2022-02-28  50.428571
2022-03-31  45.580645
2022-04-30  50.066667
2022-05-31  49.580645
2022-06-30  58.066667
2022-07-31  54.225806
2022-08-31  53.774194
2022-09-30  60.233333
2022-10-31  45.096774
2022-11-30  51.100000
2022-12-31  43.290323

/tmp/ipykernel_711/994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [37]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    82
2021-01-02    51
2021-01-03    49
2021-01-04    71
2021-01-05    90
...          ...
2021-12-27    60
2021-12-28    63
2021-12-29    59
2021-12-30     1
2021-12-31    18

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  39.714286
2021-12-28  44.571429
2021-12-29  41.857143
2021-12-30  40.428571
2021-12-31  32.571429

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [38]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              54      29      65
         two              86      89      74
B        one               9      83      12
         two              93      52      82
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              54      29      65
two              86      89      74
Slicing at Category 'B' and SubCategory 'two':
Value1    93
Value2    52
Value3    82
Name: (B, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [56]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
size_=10
np.random.seed(0)
cat_arr = np.random.choice(['A', 'B', 'C'], size=size_)
sub_cat_arr = np.random.choice(['one', 'two'], size=size_)

arrays = [cat_arr, sub_cat_arr]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(size_, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
df.sort_index(inplace=True)
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              26      78      73
         one              33      66      10
         two              70      80      48
         two              75      24      36
         two              76      56      29
B        one              10      21      81
         one              65      83      89
         two              50      30      20
C        one              58      33      32
         two              20      15      40
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              59     144      83
         two             221     160     113
B        one              75     104     170
         two              50      30      20
C        one              58      33      32
         two              20      15      40

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [58]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)
print(df)

Original DataFrame:
         Date Category  Value
0  2022-01-03        A      4
1  2022-01-01        C     95
2  2022-01-08        C     99
3  2022-01-06        A     14
4  2022-01-10        C     41
5  2022-01-01        A     73
6  2022-01-03        A     20
7  2022-01-08        C     96
8  2022-01-03        A     73
9  2022-01-10        C     27
10 2022-01-03        C     67
11 2022-01-04        C     53
12 2022-01-04        A     68
13 2022-01-03        A     62
14 2022-01-04        A     15
15 2022-01-05        B     97
16 2022-01-02        C      5
17 2022-01-03        A     68
18 2022-01-10        B     12
19 2022-01-02        C     87
Pivot Table:
Category        A     B      C
Date
2022-01-01   73.0   NaN   95.0
2022-01-02    NaN   NaN   92.0
2022-01-03  227.0   NaN   67.0
2022-01-04   83.0   NaN   53.0
2022-01-05    NaN  97.0    NaN
2022-01-06   14.0   NaN    NaN
2022-01-08    NaN   NaN  195.0
2022-01-10    NaN  12.0   68.0
         Date Category  Value
0  2022-01-03        A      4
1  2022-01-01        C     95
2  2022-01-08        C     99
3  2022-01-06        A     14
4  2022-01-10        C     41
5  2022-01-01        A     73
6  2022-01-03        A     20
7  2022-01-08        C     96
8  2022-01-03        A     73
9  2022-01-10        C     27
10 2022-01-03        C     67
11 2022-01-04        C     53
12 2022-01-04        A     68
13 2022-01-03        A     62
14 2022-01-04        A     15
15 2022-01-05        B     97
16 2022-01-02        C      5
17 2022-01-03        A     68
18 2022-01-10        B     12
19 2022-01-02        C     87

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [59]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q2      327
1   2021      Q3      470
2   2021      Q2      288
3   2020      Q2      526
4   2020      Q4      840
5   2020      Q2      697
6   2021      Q1      153
7   2021      Q1      592
8   2022      Q1       42
9   2021      Q4      275
10  2020      Q4      553
11  2020      Q2      439
Pivot Table:
Quarter     Q1     Q2     Q3     Q4
Year
2020       NaN  554.0    NaN  696.5
2021     372.5  307.5  470.0  275.0
2022      42.0    NaN    NaN    NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [84]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
np.random.seed(0)
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

#apply works on a row / column basis of a DataFrame.
df_apply = df.apply(lambda x: x.max() - x.min())
print('\n',"df_apply")
print(df_apply, '\n')

# it also works element-wise on a DataFrame
df_doubled = df.apply(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled, '\n')

# map a function that doubles the values of the DataFrame
df_doubled = df.map(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  45  48  65
1  68  68  10
2  84  22  37
3  88  71  89
4  89  13  59

 df_apply
A    44
B    58
C    79
dtype: int64

Doubled DataFrame:
     A    B    C
0   90   96  130
1  136  136   20
2  168   44   74
3  176  142  178
4  178   26  118

Doubled DataFrame:
     A    B    C
0   90   96  130
1  136  136   20
2  168   44   74
3  176  142  178
4  178   26  118

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [3]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  90   1   7
1  79  91  63
2  33   3  84
3  59  26  88
4  22  26  78
5   7  85   5
DataFrame with Sum column:
    A   B   C  Sum
0  90   1   7   98
1  79  91  63  233
2  33   3  84  120
3  59  26  88  173
4  22  26  78  126
5   7  85   5   97

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [10]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)


text_data['Upper'] = uppercase_data
print('text_data\n', text_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object
text_data
 0                                                    apple
1                                                   banana
2                                                   cherry
3                                                     date
4                                               elderberry
Upper    0         APPLE
1        BANANA
2        CHERR...
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [5]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object